<h1>
  Master Patient Index
  <span class="badge bg-warning text-dark">Work in Progress</span>
</h1>

<p class="lead">
  FHIR R4 Base URL:
  <pre><code><%= fhir_r4_base_url %></code></pre>
</p>

<p class="lead">
  MCP Server Streamable HTTP URL:
  <pre><code><%= mcp_v20250618_url %></code></pre>
</p>
